altgraph==0.10.2
appnope==0.1.0
bdist-mpkg==0.5.0
beautifulsoup4==4.1.3
blessings==1.6
bonjour-py==0.3
codemod==0.1
coverage==3.7
decorator==4.0.4
django-extensions==1.6.1
flake8==2.4.1
Flask==0.10.1
gevent==1.1.0
gnureadline==6.3.3
greenlet==0.4.9
html5lib==1.0b2
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
macholib==1.5.1
MarkupSafe==0.23
matplotlib==1.3.1
maybe==0.3.0
mccabe==0.3.1
mercurial==3.0.1
modulegraph==0.10.4
nose==1.3.0
numpy==1.8.0rc1
path.py==8.1.1
pep8==1.5.7
pexpect==3.3
pickleshare==0.5
py2app==0.7.3
pyflakes==0.8.1
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==0.13.1
pyparsing==2.0.1
python-dateutil==1.5
python-ptrace==0.8.1
pytz==2013.7
requests==1.2.3
scipy==0.13.0b1
simplegeneric==0.8.1
six==1.4.1
stevedore==1.10.0
traitlets==4.0.0
Twisted==13.2.0
vboxapi==1.0
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
Werkzeug==0.11.3
xattr==0.6.4
zope.interface==4.1.1
